
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcfcfc;
  font-family: "Segoe UI",
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;
}

:root {
  --primary: #27a2db;
  --border-radius: 3px;
  --font : Georgia,
    "Times New Roman",
    Times,
    serif;

  --secondary: #0095f6;
  --side-margin: 15px
}
